{% extends 'base.html' %}
{% block title %}
Digital-Hub-My Orders
{% endblock %}
{% block body %}

<div class="container p-4" style="height:100%">
    <h4 class="display-8">My Orders</h4>
    <hr>
    <div class="border p-4 m-4 rounded">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Sno.</th>
                    <th class="text-center">Product</th>
                    <th class="text-center">Product Name</th>
                    <th class="text-center">Download</th>
                    <th class="text-center">Date & Time</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td class="text-center p-4">{{forloop.counter}}</td>
                    <td class="text-center"><img style="height:50px" class="rounded-circle"
                            src="{{order.product.thumbnail.url}}" alt=""></td>

                    <td class="text-center p-4">{{order.product.name}}</td>
                    <td class="text-center p-4"><a href="/download/paidproduct/{{order.product.id}}" target="_blank"
                            class="ui button teal">Download</a></td>
                    <td class="text-center p-4">{{order.updated_at}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}