{% extends 'base.html' %}
{% block title %}
Digital-Hub-Reset Password
{% endblock %}
{% block body %}

<div class="ui active dimmer" id="loading" hidden>
    <div class="ui massive text loader">Loading</div>
</div>

<div class="container mt-4" style="height:100%">
    <div class="col-lg-5 col-md-8 mx-auto ui segment p-4">
        <p class="display-6 text-center border p-2">Reset Password</p>
        <hr>
        <div class="ui warning message" id="message" {% if not error %}hidden{% endif %}>
            {{error}}
        </div>

        {% if step1 %}

        <form class="ui form" id="step-1" action="/reset-password-verification" method="POST">
            {% csrf_token %}
            <div class="field">
                <label>Email</label>
                <input type="email" name="email" required placeholder="Email">
            </div>
            <button class="ui button teal" id="sbutton" type="submit">Send Verification Code</button>
        </form>
        {% endif %}

        {% if step2 %}

        <form class="ui form" id="step-2" action="/verify-reset-password-code" method="POST">
            {% csrf_token %}
            <div class="field">
                <label>Verification Code</label>
                <input type="number" name="code" required placeholder="Verification Code">
            </div>
            <button class="ui button teal" type="submit">Verify Code</button>
        </form>
        {% endif %}

        {% if step3 %}

        <form class="ui form" id="step-3" action="/reset-password" method="POST">
            {% csrf_token %}
            <div class="field">
                <label>Enter New Password</label>
                <input type="password" name="password" required placeholder="New Password">
            </div>
            <div class="field">
                <label>Enter Password again</label>
                <input type="password" name="repassword" required placeholder="New Password again">
            </div>
            <button class="ui button teal" id="sbutton" type="submit">Change Password</button>
        </form>
        {% endif %}
    </div>
</div>

{% endblock %}